<p id="notice"><%= notice %></p>


<h1>
  Listing Users
  <span class='pull-right'>
   <%= link_to 'New User', new_user_path %>
  </span>
</h1>

<div class='clearfix'>
    <% @users.each do |user| %>
      <div class='col-md-6 project'>
        <%= user.name %>
        <%= user.project.title %>
        <%= link_to 'Show', user %>
        <%= link_to 'Edit', edit_user_path(user) %>
        <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

</div>

<div class='clearfix'>
</div>





